body,
html {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
}

.main-container {
    width: 90%;
    margin: 5em auto 0 auto;
    background-color: hsl(244, 38%, 16%);
    color: white;
}

/* header {
    background: hsl(277, 64%, 61%);
} */

/* img */
img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    /* opacity: 0.2; */
}

.desktop {
    display: none;
}

.mobile {
    max-width: 100%;
    display: inline-block;
}

.card-overlay {
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color:hsl(277, 64%, 61%);
    mix-blend-mode: multiply;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    overflow: hidden;
}

/* Attribution */
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
        
