body,
html {
    margin: 0;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

/* img */
img {
    border-radius: 0.5em;
}

.desktop {
    display: none;
}

.mobile {
    max-width: 100%;
    display: inline-block;
}

/* Attribution */
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
        
