body,
html {
    margin: 0;
}



/* img */
.desktop {
    display: none;
}

.mobile

/* Attribution */
.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
        
